container_commands:
  001_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
  002_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
  003_createsuperadmin:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsuperadmin"


option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
